<!DOCTYPE html>
<html ng-app='quoteApp'>
<head>
  <meta charset="utf-8">
  <title>Inpirational Quotes</title>

    <!-- Bootstrap Minified -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   
    <!-- Unique CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>

</head>

<body>
  <div class="container" ng-controller="quoteController as qCtrl">
    <div class="main">
      <div class="jumbotron">Enter an Inspirational Quote</div>
               
        <!-- Form -->
        <form class="form-group" >
    
          <!--   Preview Form Submission -->
          <blockquote >
            
            <h2>{{ qCtrl.quote }}</h2>
            
            <footer ng-show="qCtrl.author"> <cite>{{ qCtrl.author }}</cite> <h6 ng-show="qCtrl.rating"> Your Rating of this quote was <b>{{ qCtrl.rating }}</b> out of <b>5</b></h6></footer>
          </blockquote>
                  
          <h4>Submit a Quote</h4>
          
          <fieldset class="form-group">
            <textarea ng-model="qCtrl.quote" class="form-control" placeholder="Share an inspirational..." title="Review"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <input ng-model="qCtrl.author" type="text" class="form-control" placeholder="Author of Quote's Name Here" title="Author" />
          </fieldset>
          <fieldset class="form-group">
            <select ng-model="qCtrl.rating" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
              <option value>How inspired are you?</option>
            </select>
          </fieldset>
          <fieldset ng-click="qCtrl.submitQuote()" class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Quote" />
          </fieldset>
        </form>

        <div class="callout">
          <ul class="list-unstyled">
            <li ng-repeat="quotes in qCtrl.quoteBlock | orderBy: '-'"> 
            <blockquote>
              <q>{{ quotes.quote }}</q>
              <cite> - {{ quotes.author }}</cite>
              <footer>Inspiration Rating: {{ quotes.rating }}</footer>
            </blockquote>
            </li>
          </ul>
        </div>
    </div>

    <button ng-click="qCtrl.quoteArr()" class="btn btn-sm">Review quoteArray to Console</button>

  </div>




  <script type="text/javascript" src="angular/app.js"></script>
  <script type="text/javascript" src="angular/app.quote-controller.js"></script>
  <script type="text/javascript" src="angular/app.quote-factory.js"></script>
</body>
</html>